<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
{#    <link rel="stylesheet" href="../static/styles.css" type="text/css">#}
    <title>TAU.840 Assignment 02</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        #div {
            display: flex;
            justify-content: center;
        }

        body {
            background-image: url("../static/images/PK_symbols__tuni.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 30%;
            background-attachment: fixed;
        }

        h2 {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: black;
            padding: 2px;
        }

        a:hover {
            transition: all 300ms ease-out 100ms;
            background-color: mediumslateblue;
            border: 0px solid white;
            padding: 2px;
            color: white;
            border-radius: 5px;
        }

        .column {
            float: left;
            width: 50%;
            font-size: larger;
        }

        .column2 {
            float: left;
            width: 45%;
            text-align: center;
            margin: 2%;
            border: 2px solid mediumslateblue;
            background-color: white;
        }

        .column2:hover {
            transition: all 300ms ease-out 100ms;
            width: 45%;
            border: 2px solid white;
            text-align: center;
            background-color: mediumslateblue;
            margin: 2%;
            color: white;
        }

        .row {
            width: 100%;
            display: table;
            clear: both;
        }

        .cell2 {
            background-color: #9573D3;
            color: white;
        }

        .cell1 {
            color: red;
            background-color: #FCD5D5;
            font-weight: bold;
        }

        .cell3 {
            background-color: transparent;
            color: black;
        }

        .detail-table tr td {
            font-size: 15px;
        }

    </style>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        {#google.charts.setOnLoadCallback(drawChart);#}
        $('#piechart').html('<p></p>');
        let tzoffset = (new Date()).getTimezoneOffset() * 60000;
        let history = [];
        let historical_data = {};
        let visible = 10;
        let all_options = true;

        //Run a function every 10000 ms
        window.setInterval(function () {
            $.get('{{ url_for("get_alarms") }}', function (data) {
                let json = JSON.parse(data).reverse();
                let robots = [];

                json.forEach(function(row) {
                    let {robot_id, value, ts} = row;
                    let id = +robot_id.slice(3);
                    if (robots.indexOf(id) > -1)
                        return;
                    robots.push(id);
                    let date = (new Date(ts - tzoffset)).toISOString();

                    $('#state' + id).text('Last alarm: ' + value);
                    $('#ts' + id).text("Time: " + date.slice(0, 10) + " " + date.slice(11, 19));
                });

                for (let i = 1; i < 11; i++)
                    if (robots.indexOf(i) == -1) $('#state' + i).text('No alarms were found');

            });
        }, 10000);

        function create_history_table() {
            let table_body = '';
            let total = history.length;
            let html_result_action = '<button type="button" onclick="showLess()">Show less</button>';
            let html_history =
                '<table width="100%" style="text-align: center; line-height: 30px;">' +
                        '<colgroup id="myColGroup" span="2" align = "left" width="150">' +
                            '<col style="width: 40%">' +
                            '<col style="width: 60%">' +
                        '</colgroup>' +
                        '<thead>' +
                            '<tr>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Timestamp</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Message</td>' +
                            '</tr>' +
                        '</thead>' +
                    '<tbody>';

            try {
                history.forEach(function (row, index) {
                    if (index < visible) {
                        let {value, ts} = row;
                        let date = (new Date(ts - tzoffset)).toISOString();
                        date = date.slice(0, 10) + " " + date.slice(11, 19);

                        if (index % 2)
                            table_body = table_body + '<tr><td class=cell2>' + date + '</td>' +
                                                      '<td class=cell2>' + value + '</td></tr>';

                        else
                            table_body = table_body + '<tr><td class=cell3>' + date + '</td>' +
                                                      '<td class=cell3>' + value + '</td></tr>';
                    }

                    else
                        throw Error('Break');
                });
            } catch (e) {
                if (e.message != 'Break')
                    throw e;

                else {
                    html_result_action = '<button type="button" onclick="showMore()">Show more</button>' +
                                             '<button type="button" onclick="showAll()">Show all</button>';

                    if (visible > 10)
                        html_result_action = '<button type="button" onclick="showLess()">Show less</button>' +
                                                html_result_action;
                }
            }

            html_history = html_history + table_body + '</tbody></table>';

            $('#result_action').html(html_result_action);
            $('#result').text('Showing ' + visible + ' of ' + total + ' results');
            $('#history_section').html(html_history);
        }

        function create_history_table_all() {
            let table_body = '';
            let total = history.length;
            let html_result_action = '<button type="button" onclick="showLess()">Show less</button>';
            let html_history =
                '<table width="100%" style="text-align: center; line-height: 30px;">' +
                        '<colgroup id="myColGroup" span="3" align = "left" width="150">' +
                            '<col style="width: 30%">' +
                            '<col style="width: 20%">' +
                            '<col style="width: 50%">' +
                        '</colgroup>' +
                        '<thead>' +
                            '<tr>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Timestamp</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Robot</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Message</td>' +
                            '</tr>' +
                        '</thead>' +
                    '<tbody>';

            try {
                history.forEach(function (row, index) {
                    if (index < visible) {
                        let {value, ts, robot_id} = row;
                        let date = (new Date(ts - tzoffset)).toISOString();
                        date = date.slice(0, 10) + " " + date.slice(11, 19);
                        robot_id = 'Robot ' + robot_id.slice(3);

                        if (index % 2)
                            table_body = table_body + '<tr><td class=cell2>' + date + '</td>' +
                                                      '<td class=cell2>' + robot_id + '</td>' +
                                                      '<td class=cell2>' + value + '</td></tr>';

                        else
                            table_body = table_body + '<tr><td class=cell3>' + date + '</td>' +
                                                      '<td class=cell3>' + robot_id + '</td>' +
                                                      '<td class=cell3>' + value + '</td></tr>';
                    }

                    else
                        throw Error('Break');
                });
            } catch (e) {
                if (e.message != 'Break')
                    throw e;

                else {
                    html_result_action = '<button type="button" onclick="showMore()">Show more</button>' +
                                             '<button type="button" onclick="showAll()">Show all</button>';

                    if (visible > 10)
                        html_result_action = '<button type="button" onclick="showLess()">Show less</button>' +
                                                html_result_action;
                }
            }

            html_history = html_history + table_body + '</tbody></table>';

            $('#result_action').html(html_result_action);
            $('#result').text('Showing ' + visible + ' of ' + total + ' results');
            $('#history_section').html(html_history);
        }

        function showMore() {
            visible += 10;

            if (all_options)
                create_history_table_all();
            else
                create_history_table();
        }

        function showAll() {
            visible = history.length;

            if (all_options)
                create_history_table_all();
            else
                create_history_table();
        }

        function showLess() {
            visible -= 10;

            if (all_options)
                create_history_table_all();
            else
                create_history_table();
        }

        function drawChart(input) {
            let array = [['Alarm', 'Counted number']]

            for (let key in input)
                array.push([key, input[key]]);

            let data = google.visualization.arrayToDataTable(array);
            // Optional; add a title and set the width and height of the chart
            let options = {'title':'Alarms Occurrences'};
            // Display the chart inside the <div> element with id="piechart"
            let chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        function drawChartAll(input) {
            let array = [['Alarm', 'Counted number']]

            for (let key in input)
                array.push([key, input[key]['total']]);

            let data = google.visualization.arrayToDataTable(array);
            // Optional; add a title and set the width and height of the chart
            let options = {'title':'Alarms Occurrences'};
            // Display the chart inside the <div> element with id="piechart"
            let chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        function detailTable(input) {
            let html_detail_table =
                '<table width="100%" class=detail-table style="margin: 0 auto; align-self: center; text-align: center; line-height: 50px;">' +
                        '<colgroup id="myColGroup" span="2" align = "left" width="150">' +
                            '<col style="width: 60%">' +
                            '<col style="width: 40%">' +
                        '</colgroup>' +
                        '<thead>' +
                            '<tr>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Alarm</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Count</td>' +
                            '</tr>' +
                        '</thead>' +
                    '<tbody>';

            let table_body = '';

            for (let key in input)
                html_detail_table = html_detail_table + '<tr><td class=cell3>' + key + '</td>' +
                                                        '<td class=cell3>' + input[key] + '</td></tr>';

            html_detail_table = html_detail_table + table_body + '</tbody></table>';
            $('#details').html(html_detail_table);
        }

        function detailTableAll(input) {
            let html_detail_table =
                '<table width="100%" class=detail-table style="margin: 0 auto; align-self: center; text-align: center; line-height: 50px;">' +
                        '<colgroup id="myColGroup" span="5" align = "left" width="150">' +
                            '<col style="width: 20%">' +
                            '<col style="width: 20%">' +
                            '<col style="width: 20%">' +
                            '<col style="width: 20%">' +
                            '<col style="width: 20%">' +
                        '</colgroup>' +
                        '<thead>' +
                            '<tr>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Robot</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Idle</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Down</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Missed</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Total</td>' +
                            '</tr>' +
                        '</thead>' +
                    '<tbody>';

            let table_body = '';

            for (let key in input)
                html_detail_table = html_detail_table + '<tr><td class=cell3>' + key + '</td>' +
                                                        '<td class=cell3>' + input[key]['idle'] + '</td>' +
                                                        '<td class=cell3>' + input[key]['down'] + '</td>' +
                                                        '<td class=cell3>' + input[key]['missed'] + '</td>' +
                                                        '<td class=cell3>' + input[key]['total'] + '</td></tr>';

            html_detail_table = html_detail_table + table_body + '</tbody></table>';
            $('#details').html(html_detail_table);
        }

        function getRobotData() {
            let end_ts = $("#end_ts").val();
            let start_ts = $("#start_ts").val();
            let robot_id = $("#robot_id").val();
            end_ts = new Date(end_ts).getTime();
            start_ts = new Date(start_ts).getTime();

            if (robot_id != 'all') {
                all_options = false;
                let url_robot_history = '{{ url_for('get_alarm', robot_id='rid') }}'.replace('rid', robot_id) + '?start_ts=' + start_ts + '&end_ts=' + end_ts;
                $.get(url_robot_history, function (data) {
                    history = JSON.parse(data).reverse();
                    visible = history.length > 10 ? 10 : history.length;
                    create_history_table();
                    let arr = {};
                    history.forEach(function (row) {
                        let {value} = row;

                        if (!(value in arr))
                            arr[value] = 0;

                        arr[value] += 1;
                    });
                    detailTable(arr);
                    drawChart(arr);
                });
            }

            else {
                all_options = true;
                let url_robot_history_all = '{{ url_for('get_alarms') }}' + '?start_ts=' + start_ts + '&end_ts=' + end_ts;
                $.get(url_robot_history_all, function (data) {
                    history = JSON.parse(data).reverse();
                    visible = history.length > 10 ? 10 : history.length;
                    create_history_table_all();
                    let arr = {};

                    history.forEach(function (row) {
                        let {value, robot_id} = row;
                        robot_id = 'Robot ' + robot_id.slice(3);

                        if (!(robot_id in arr))
                            arr[robot_id] = {'missed': 0, 'idle': 0, 'down': 0, 'total': 0};

                        if (value.indexOf('Missed') > -1)
                            arr[robot_id]['missed'] += 1;

                        else if (value.indexOf('down') > -1)
                            arr[robot_id]['down'] += 1;

                        else
                            arr[robot_id]['idle'] += 1;

                        arr[robot_id]['total'] += 1;
                    });

                    detailTableAll(arr);
                    drawChartAll(arr);
                });
            }
        }
    </script>
</head>
<body>
<div>
    <h1 style="text-align: center"><a href="{{ url_for('robot_page') }}">Robots</a> | Alarms</h1>
</div>
<div class="row">
    <div class="column">
        <h2>Overall</h2>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 01</h3>
                        <div><p color="#8f8bbeff" id="state1">Getting data</p></div>
                       <p id="ts1"></p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 02</h3>
                        <div><p color="#8f8bbeff" id="state2">Getting data</p></div>
                       <p id="ts2"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 03</h3>
                        <div><p color="#8f8bbeff" id="state3">Getting data</p></div>
                       <p id="ts3"></p>
                    </div>
                </div>
            </div>
            <div class="column2" style="align-content: center">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 04</h3>
                        <div><p color="#8f8bbeff" id="state4">Getting data</p></div>
                       <p id="ts4"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 05</h3>
                        <div><p color="#8f8bbeff" id="state5">Getting data</p></div>
                       <p id="ts5"></p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 06</h3>
                        <div><p color="#8f8bbeff" id="state6">Getting data</p></div>
                       <p id="ts6"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 07</h3>
                        <div><p color="#8f8bbeff" id="state7">Getting data</p></div>
                       <p id="ts7"></p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 08</h3>
                        <div><p color="#8f8bbeff" id="state8">Getting data</p></div>
                       <p id="ts8"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 09</h3>
                        <div><p color="#8f8bbeff" id="state9">Getting data</p></div>
                       <p id="ts9"></p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 10</h3>
                        <div><p color="#8f8bbeff" id="state10">Getting data</p></div>
                       <p id="ts10"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h2>Specific view</h2>
        <div style="margin-left: 5%; margin-right: 5%;">
            <div class="row" width="100%">
                <table width="100%">
                    <tr>
                        <td>
                            <label for="start_ts">From:</label>
                            <input type="datetime-local" id="start_ts"
                                   name="start_ts" value="2022-12-01T00:00"
                                   min="2022-12-01T00:00" max="2022-12-31T23:59"/>
                            <label for="end_ts"> to: </label>
                            <input type="datetime-local" id="end_ts"
                                   name="end_ts" value="2022-12-31T23:59"
                                   min="2022-12-01T00:01"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="robot_id">Choose a robot: </label>
                            <select id="robot_id" name="robot">
                                <option value="all" selected>All robots</option>
                                <option value="rob1">Robot 01</option>
                                <option value="rob2">Robot 02</option>
                                <option value="rob3">Robot 03</option>
                                <option value="rob4">Robot 04</option>
                                <option value="rob5">Robot 05</option>
                                <option value="rob6">Robot 06</option>
                                <option value="rob7">Robot 07</option>
                                <option value="rob8">Robot 08</option>
                                <option value="rob9">Robot 09</option>
                                <option value="rob10">Robot 10</option>
                            </select>
                            <button type="button" onclick="getRobotData()">Search!</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="row" id="analysis_section" width="100%">
                <div class="column" id="details" width="40%" style="align-content: center"></div>
                <div class="column" id="piechart" width="60%"></div>
            </div>
            <div class="row" width="100%">
                <table width="100%">
                    <tr>
                        <td id="result"></td>
                        <td id="result_action" style="text-align: right;"></td>
                    </tr>
                </table>
            </div>
            <div class="row" id="history_section"></div>
        </div>
    </div>
</div>
</body>
</html>
