<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
    <title>ROBOT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        const url_telemetries = '{{ host_ip }}' + '/api/telemetries';
        const url_history = '{{ host_ip }}' + '/api/history';
        const url_analysis = '{{ host_ip }}' + '/api/analysis';
        let tzoffset = (new Date()).getTimezoneOffset() * 60000;
        let history = [];
        let historical_data = {};
        //Run a function every 10000 ms
        window.setInterval(function () {
            $.get(url_telemetries, function (data) {
                let json = JSON.parse(data);
                json.forEach(function (row) {
                    let {robot_id, value, ts} = row;
                    let id = robot_id.slice(3);
                    let date = (new Date(ts - tzoffset)).toISOString()
                    $('#state' + id).text(value);
                    $('#ts' + id).text(date.slice(0, 10) + " " + date.slice(11, 19));
                });
            });
        }, 10000);

        function getRobotData() {
            let end_ts = $("#end_ts").val();
            let start_ts = $("#start_ts").val();
            let robot_id = $("#robot_id").val();
            end_ts = new Date(end_ts).getTime() - tzoffset;
            start_ts = new Date(start_ts).getTime() - tzoffset;
            console.log(start_ts, end_ts, robot_id);
            let url_robot_history = url_history + '/' + robot_id + '?start_ts=' + start_ts + '&end_ts=' + end_ts;
            let url_robot_analysis = url_analysis + '/' + robot_id + '?start_ts=' + start_ts + '&end_ts=' + end_ts
            $.get(url_robot_history, function (data) {
                history = JSON.parse(data);
                console.log(history);
            });
            {#$.get(url_robot_analysis, function (data) {#}
            {#    historical_data = JSON.parse(data);#}
            {# });#}
        }
    </script>
</head>
<body>
<div>
    <h1>
        <tr>
            <td><p>Robots</p></td>
            <td><a href="{{ url_for('alarm_page') }}">Alarms</a></td>
        </tr>
    </h1>

</div>

<div class="row">
    <div class="column">
        <div class="row">
            <div class="column">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 1</h3>
                        <div><p color="#8f8bbeff" id="state1">Getting state</p></div>
                        <p>Last Updated: <span id="ts1"></span></p>
                    </div>
                </div>

            </div>
            <div class="column">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 2</h3>
                        <div><p color="#8f8bbeff" id="state2">Getting state</p></div>
                        <p>Last Updated: <span id="ts2"></span></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 3</h3>
                        <div><p color="#8f8bbeff" id="state3">Getting state</p></div>
                        <p>Last Updated: <span id="ts3"></span></p>
                    </div>
                </div>
            </div>
            <div class="column" style="align-content: center">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 4</h3>
                        <div><p color="#8f8bbeff" id="state4">Getting state</p></div>
                        <p>Last Updated: <span id="ts4"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 5</h3>
                        <div><p color="#8f8bbeff" id="state5">Getting state</p></div>
                        <p>Last Updated: <span id="ts5"></span></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 6</h3>
                        <div><p color="#8f8bbeff" id="state6">Getting state</p></div>
                        <p>Last Updated: <span id="ts6"></span></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 7</h3>
                        <div><p color="#8f8bbeff" id="state7">Getting state</p></div>
                        <p>Last Updated: <span id="ts7"></span></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 8</h3>
                        <div><p color="#8f8bbeff" id="state8">Getting state</p></div>
                        <p>Last Updated: <span id="ts8"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 9</h3>
                        <div><p color="#8f8bbeff" id="state9">Getting state</p></div>
                        <p>Last Updated: <span id="ts9"></span></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div style="width: 340px; height: 208px; position: relative;">
                    <div font-family="Open Sans"><h3>Robot 10</h3>
                        <div><p color="#8f8bbeff" id="state10">Getting state</p></div>
                        <p>Last Updated: <span id="ts10"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <table>
                <tr>
                    <td>

                        <label for="robot_id">Choose a robot: </label>
                        <select id="robot_id" name="robot">
                            <option value="rob1" selected>Robot 01</option>
                            <option value="rob2">Robot 02</option>
                            <option value="rob3">Robot 03</option>
                            <option value="rob4">Robot 04</option>
                            <option value="rob5">Robot 05</option>
                            <option value="rob6">Robot 06</option>
                            <option value="rob7">Robot 07</option>
                            <option value="rob8">Robot 08</option>
                            <option value="rob9">Robot 09</option>
                            <option value="rob10">Robot 10</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="start_ts">From:</label>
                        <input type="datetime-local" id="start_ts"
                               name="start_ts" value="2022-12-01T00:00"
                               min="2022-12-01T00:00" max="2022-12-31T23:59"/>
                    </td>
                    <td>
                        <label for="end_ts"> to: </label>
                        <input type="datetime-local" id="end_ts"
                               name="end_ts" value="2022-12-01T00:00"
                               min="2022-12-01T00:00" max="2022-12-31T23:59"/>
                    </td>
                <tr>
                    <td>
                        <button type="button" onclick="getRobotData()">Search!</button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
