<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
{#    <link rel="stylesheet" href="../static/styles.css" type="text/css">#}
    <title>TAU.840 Assignment 02</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        #div {
            display: flex;
            justify-content: center;
        }

        body {
            background-image: url("../static/images/PK_symbols__tuni.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 30%;
            background-attachment: fixed;
        }

        h2 {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: black;
            padding: 2px;
        }

        a:hover {
            transition: all 300ms ease-out 100ms;
            background-color: mediumslateblue;
            border: 0px solid white;
            padding: 2px;
            color: white;
            border-radius: 5px;
        }

        .column {
            float: left;
            width: 50%;
            font-size: larger;
        }

        .column2 {
            float: left;
            width: 45%;
            text-align: center;
            margin: 2%;
            border: 2px solid mediumslateblue;
            background-color: white;
        }

        .column2:hover {
            transition: all 300ms ease-out 100ms;
            width: 45%;
            border: 2px solid white;
            text-align: center;
            background-color: mediumslateblue;
            margin: 2%;
            color: white;
        }

        .row {
            width: 100%;
            display: table;
            clear: both;
        }

        .cell2 {
            background-color: #9573D3;
            color: white;
        }

        .cell1 {
            color: red;
            background-color: #FCD5D5;
            font-weight: bold;
        }

        .cell3 {
            background-color: transparent;
            color: black;
        }

        .detail-table tr td {
            font-size: 13px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: absolute; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: clip; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 1% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 90%; /* Could be more or less, depending on screen size */
            height: 90%;
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    </style>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        {#google.charts.setOnLoadCallback(drawChart);#}
        $('#piechart').html('<p></p>');
        let tzoffset = (new Date()).getTimezoneOffset() * 60000;
        let history = [];
        let historical_data = {};
        let visible = 10;

        function padding(input) {
            return input < 10 ? "0" + input : input;
        }

        function epoch_to_string(ts) {
            let hour = new Date(ts).getHours();
            hour = padding(hour);
            let minute = new Date(ts).getMinutes();
            minute = padding(minute);
            let second = new Date(ts).getSeconds();
            second = padding(second);
            let day = new Date(ts).getDate();
            day = padding(day);
            let month = new Date(ts).getMonth() + 1;
            month = padding(month);
            let year = new Date(ts).getFullYear();
            return hour + ":" + minute + ":" + second + " " + day + "-" + month + "-" + year;
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        //Run a function every 10000 ms
        window.setInterval(function () {
            $.get('{{ url_for("telemetries") }}', function (data) {
                let json = JSON.parse(data);
                let robots = [];

                json.forEach(function(row) {
                    let {robot_id, value, ts} = row;
                    let id = robot_id.slice(3);
                    robots.push(+id);
                    let date = epoch_to_string(ts);

                    if (value == 'DOWN')
                        $('#state' + id).css({"color": "red", "font-weight": "bold"});

                    else
                        $('#state' + id).css({"color": "purple", "font-weight": "bold"});

                    $('#state' + id).text(value);
                    $('#ts' + id).text("Last update: " + date);
                });

                for (let i = 1; i < 11; i++)
                    if (robots.indexOf(i) == -1) $('#state' + i).text('Asking Luis why it isn\'t working?');

            });
        }, 10000);

        function create_history_table() {
            let table_body = '';
            let total = history.length;
            let html_result_action = '<button type="button" onclick="showLess()">Show less</button>';
            let html_history =
                '<table width="100%" style="text-align: center; line-height: 30px;">' +
                        '<colgroup id="myColGroup" span="2" align = "left" width="150">' +
                            '<col style="width: 40%">' +
                            '<col style="width: 100%">' +
                        '</colgroup>' +
                        '<thead>' +
                            '<tr>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Timestamp</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">State</td>' +
                            '</tr>' +
                        '</thead>' +
                    '<tbody>';

            try {
                history.forEach(function (row, index) {
                    if (index < visible) {
                        let {value, ts} = row;
                        let date = epoch_to_string(ts);

                        if (value == 'DOWN')
                            table_body =  table_body + '<tr><td class=cell1>' + date + '</td>' +
                                                       '<td class=cell1>' + value + '</td></tr>';

                        else if (index % 2)
                            table_body = table_body + '<tr><td class=cell2>' + date + '</td>' +
                                                      '<td class=cell2>' + value + '</td></tr>';

                        else
                            table_body = table_body + '<tr><td class=cell3>' + date + '</td>' +
                                                      '<td class=cell3>' + value + '</td></tr>';
                    }

                    else
                        throw Error('Break');
                });
            } catch (e) {
                if (e.message != 'Break')
                    throw e;

                else {
                    html_result_action = '<button type="button" onclick="showMore()">Show more</button>' +
                                             '<button type="button" onclick="showAll()">Show all</button>';

                    if (visible > 10)
                        html_result_action = '<button type="button" onclick="showLess()">Show less</button>' +
                                                html_result_action;
                }
            }

            html_history = html_history + table_body + '</tbody></table>';

            $('#result_action').html(html_result_action);
            $('#result').text('Showing ' + visible + ' of ' + total + ' results');
            $('#history_section').html(html_history);
        }

        function showMore() {
            visible += 10;
            create_history_table();
        }

        function showAll() {
            visible = history.length;
            create_history_table();
        }

        function showLess() {
            visible -= 10;
            create_history_table();
        }

        function drawChart(input) {
            let array = [['Event', 'Counted number']]

            for (let key in input)
                if (key != 'mtbf')
                    array.push([key, input[key]['count']]);

            let data = google.visualization.arrayToDataTable(array);
            // Optional; add a title and set the width and height of the chart
            let options = {'title':'Events Occurrences'};
            // Display the chart inside the <div> element with id="piechart"
            let chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        function detailTable(input) {
            let html_detail_table =
                '<table width="100%" class=detail-table style="margin: 0 auto; align-self: center; text-align: center; line-height: 40px;">' +
                        '<colgroup id="myColGroup" span="4" align = "left" width="150">' +
                            '<col style="width: 20%">' +
                            '<col style="width: 20%">' +
                            '<col style="width: 40%">' +
                            '<col style="width: 20%">' +
                        '</colgroup>' +
                        '<thead>' +
                            '<tr>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Event</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Count</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Total Duration</td>' +
                                '<td style="background-color: rebeccapurple; color: white; font-weight: bold">Avg.</td>' +
                            '</tr>' +
                        '</thead>' +
                    '<tbody>';

            let table_body = '';

            for (let key in input) {
                if (key == 'mtbf')
                    continue;

                let event = 'DOWN';

                if (key.indexOf('IDLE') > -1)
                    event = 'IDLE';

                else if (key.indexOf('PROCESSING') > -1)
                    event = 'PROCESSING';

                let {time, count, percentage, avg} = input[key];
                let hour = Math.floor(time / 3600);
                let minute = Math.floor(time % 60 / 60);
                let second = time % 60 % 60;
                let readable_time = hour + 'h ' + minute + 'm ' + second + 's '
                html_detail_table = html_detail_table + '<tr><td class=cell3>' + event + '</td>' +
                                                        '<td class=cell3>' + count + '</td>' +
                                                        '<td class=cell3>' + readable_time + '(' + percentage + '%)</td>' +
                                                        '<td class=cell3>' + avg + 's</td></tr>';
            }

            html_detail_table = html_detail_table + table_body + '</tbody></table>';
            $('#details').html(html_detail_table);
            let mtbf = input['mtbf']
            let hour = Math.floor(mtbf / 3600);
            let minute = Math.floor(mtbf % 60 / 60);
            let second = mtbf % 60 % 60;
            let readable_time = hour + 'h ' + minute + 'm ' + second + 's '
            let html_mtbf = '<p>Mean time between failures: ' + readable_time + '</p>';
            $('#mtbf').html(html_mtbf);
        }

        function getRobotData() {
            let end_ts = $("#end_ts").val();
            let start_ts = $("#start_ts").val();
            let robot_id = $("#robot_id").val();
            end_ts = new Date(end_ts).getTime();
            start_ts = new Date(start_ts).getTime();
            let url_robot_history = '{{ url_for('history', robot_id='rid') }}'.replace('rid', robot_id) + '?start_ts=' + start_ts + '&end_ts=' + end_ts;
            let url_robot_analysis = '{{ url_for('analysis', robot_id='rid') }}'.replace('rid', robot_id) + '?start_ts=' + start_ts + '&end_ts=' + end_ts;
            $.get(url_robot_history, function (data) {
                history = JSON.parse(data).reverse();
                visible = history.length > 10 ? 10 : history.length;
                create_history_table();
            });
            setTimeout(function() {
                $.get(url_robot_analysis, function (data) {
                    let historical_data = JSON.parse(data);
                    detailTable(historical_data);
                    drawChart(historical_data);
                });
            }, 500);
        }
    </script>
</head>
<body>
<div>
    <div class="column" style="width:49%"><h1 style="text-align: right">Robots</h1></div>
    <div class="column" style="width:2%"><h1 style="text-align: center">|</h1></div>
    <div class="column" style="width:37%"><h1 style="text-align: left"><a href="{{ url_for('alarm_page') }}">Alarms</a></h1></div>
    <div class="column" style="width:10%"><button id="myBtn" style="float: right;"><img src="../static/images/ppt.png" style="width: 20px; height: 20px;"></button></div>
{#    <h1 style="text-align: center">Robots | <a href="{{ url_for('alarm_page') }}">Alarms</a></h1>#}
    <div id="myModal" class="modal">
    <!-- Modal content -->
        <div class="modal-content">
            <center style="width: 100%; height: 100%;"><iframe src="https://tuni-my.sharepoint.com/personal/hoang_m_pham_tuni_fi/_layouts/15/Doc.aspx?sourcedoc={a4233ff7-7eca-4b8e-9e50-54e6be821e73}&amp;action=embedview&amp;wdAr=1.7777777777777777" width="100%" height="100%" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe></center>
        </div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) modal.style.display = "none";
        }
    </script>
</div>
<div class="row">
    <div class="column">
        <h2>Overall</h2>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 01</h3>
                        <div><p color="#8f8bbeff" id="state1">Getting state</p></div>
                       <p id="ts1"></p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 02</h3>
                        <div><p color="#8f8bbeff" id="state2">Getting state</p></div>
                       <p id="ts2"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 03</h3>
                        <div><p color="#8f8bbeff" id="state3">Getting state</p></div>
                       <p id="ts3"></p>
                    </div>
                </div>
            </div>
            <div class="column2" style="align-content: center">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 04</h3>
                        <div><p color="#8f8bbeff" id="state4">Getting state</p></div>
                       <p id="ts4"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 05</h3>
                        <div><p color="#8f8bbeff" id="state5">Getting state</p></div>
                       <p id="ts5"></p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 06</h3>
                        <div><p color="#8f8bbeff" id="state6">Getting state</p></div>
                       <p id="ts6"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 07</h3>
                        <div><p color="#8f8bbeff" id="state7">Getting state</p></div>
                       <p id="ts7"></p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 08</h3>
                        <div><p color="#8f8bbeff" id="state8">Getting state</p></div>
                       <p id="ts8"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 09</h3>
                        <div><p color="#8f8bbeff" id="state9">Getting state</p></div>
                       <p id="ts9"></p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div style="position: relative;">
                    <div font-family="Open Sans"><h3>Robot 10</h3>
                        <div><p color="#8f8bbeff" id="state10">Getting state</p></div>
                       <p id="ts10"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h2>Specific view</h2>
        <div style="margin-left: 5%; margin-right: 5%;">
            <div class="row" width="100%">
                <table width="100%">
                    <tr>
                        <td>
                            <label for="start_ts">From:</label>
                            <input type="datetime-local" id="start_ts"
                                   name="start_ts" value="2022-12-01T00:00"
                                   min="2022-12-01T00:00" max="2022-12-31T23:59"/>
                            <label for="end_ts"> to: </label>
                            <input type="datetime-local" id="end_ts"
                                   name="end_ts" value="2022-12-31T23:59"
                                   min="2022-12-01T00:01"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="robot_id">Choose a robot: </label>
                            <select id="robot_id" name="robot">
                                <option value="rob1" selected>Robot 01</option>
                                <option value="rob2">Robot 02</option>
                                <option value="rob3">Robot 03</option>
                                <option value="rob4">Robot 04</option>
                                <option value="rob5">Robot 05</option>
                                <option value="rob6">Robot 06</option>
                                <option value="rob7">Robot 07</option>
                                <option value="rob8">Robot 08</option>
                                <option value="rob9">Robot 09</option>
                                <option value="rob10">Robot 10</option>
                            </select>
                            <button type="button" onclick="getRobotData()">Search!</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="row" id="analysis_section" width="100%">
                <div class="column" id="details" width="40%" style="align-content: center"></div>
                <div class="column" id="piechart" width="60%"></div>
            </div>
            <div class="row" id="mtbf" width="100%"></div>
            <div class="row" width="100%">
                <table width="100%">
                    <tr>
                        <td id="result"></td>
                        <td id="result_action" style="text-align: right;"></td>
                    </tr>
                </table>
            </div>
            <div class="row" id="history_section"></div>
        </div>
    </div>
</div>
</body>
</html>
